body {
	padding: 0;
	margin: 0;
}

#tooltip {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(102, 102, 102);
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 7px;
	position: fixed;
	width: 30vw;
	max-height: 200px;
    top: 10px;
    right: 10px;
}